.justify1{
    float: left;
}
.but-1{
     color: #fff;
     border-color: #288855;
     background-color: #288855;
}
@media(max-width: 575px){ 
    .vis a span{
        visibility: hidden;
        font-size: 10px;
    }
    .{
        
       display: none;
       visibility: hidden;
       background-image: url(img/image3.jpg);
        
    }
}

/* @media(max-width: 575px){
    .cart img{
        display: none;
        background-image: url(img/image2.jpg);
        
    }

} */

@media (min-width: 1200px) {
    

.flex1{
    display:flex;
    align-content: center;
    
}
.wrap1{
    background-color:#F2FCF9;
    width: auto;
    padding-top: 100px;

   
    
   
}
.flex11{
    display: flex;
    align-content: center;
}
.wrap11{
    background-color: #FCF4F2;
    width: auto;
    padding-top: 100px;
}
.flex111{
    display: flex;
    align-content: center;
}
.wrap111{
    background-color: #FCF4F2;
    width: auto;
    padding-top: 100px;
}
}