.justify1{
    float: left;
}
.but-1{
     color: #fff;
     border-color: #288855;
     background-color: #288855;
}
@media(max-width: 767px){ 
    .vis a span{
        visibility: hidden;
        font-size: 10px;
    }
    .live1{
        align-content: center;
        text-align: center;
        justify-content: center;
        align-self:center;
    }
    .cart{
        
       display: none;
       visibility: hidden;
       width: 100%;
      
       
        
    }
    .lowt{
        align-content: center;
        text-align: center;
    }
   
    .wep{
        background-image: url(img/hero3.jpg);
        background-size: 100% 100%;
        align-content: center;
        background-repeat: no-repeat;
        width: 100%;
        color: white;
        padding-bottom: 50px;
        text-align: center;
        
        
        
        
    }
    .wep1{
        background-image: url(img/image3.jpg);
        background-size: 100% 100%;
        align-content: center;
        background-repeat: no-repeat;
        width: 100%;
        color: white;
        padding-bottom: 50px;
        
        
    }
    .wep0{
        background-image: url(img/image2.jpg);
        background-size: 100% 100%;
        align-content: center;
        background-repeat: no-repeat;
        width: 100%;
        color: white;
        padding-bottom: 50px;
        
        

    }
    

}

/* @media(max-width: 575px){
    .cart img{
        display: none;
        background-image: url(img/image2.jpg);
        
    }

} */

/* @media (min-width: 1200px) { */
    

.flex1{
    display:flex;
    align-content: center;
    
}
.wrap1{
    background-color:#F2FCF9;
    width: auto;
    padding-top: 100px;

   
    
   
}
.flex11{
    display: flex;
    align-content: center;
}
.wrap11{
    background-color: #FCF4F2;
    width: auto;
    padding-top: 100px;
}
.flex111{
    display: flex;
    align-content: center;
}
.wrap111{
    background-color: #FCF4F2;
    width: auto;
    padding-top: 100px;
}

.cent{
    text-align: center;
    background-color: black;
    color: white;
    font-family: sans-serif, "Apercu";
    font-size: 10px;
    font-weight: 400px;
    line-height: 24px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: -8px;
    word-spacing: 10px;
    padding-top: 24px;
    position: absolute;
    tab-size: 4;
    text-rendering: optimizelegibility;
    width: 1440px;
}

h5 span{
    color: green;
}
.spac{
    /* margin-top: 20rem;
    margin-left: 40%;
    margin-right: 40%;
    margin-left: auto;
    margin-right: auto; */
    
   
}
.text-yello{
    color: #f9ae00;
}
.juse{
position: relative;
width: 450px;
min-height: 500px;
max-width: 100%;
background-image: url(img/about.jpg);
background-repeat: no-repeat;
background-size: contain;
padding-left: auto;
padding-right: auto;
align-content: center;
background-position-x: center;

}
.wrapp{
    background-color: #F2FCF9;
    text-align:left;
    width: 1440px;
    
    
}
.wrapp1{
    text-align: center;
}
.carousel12{
    display: flex;
}
.run{
    border: solid 1px white;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-left: 30px;
    margin-right:10px ;
    background-color: white;
    box-shadow: 9px 4px 10px;
    height: 75%;
    
}
.btn-dit{
    background-color: #DBF9EA;
    color: green;
}
.run1{
    border: solid 1px white;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-right: 30px;
    margin-left: 10px;
    background-color: white;
    box-shadow: 9px 4px 10px;
    height: 65%;
}
.tot{
    width: 100%;
}
